{% extends 'layouts/application.html' %}

{% block content %}
<div id="container" class="container">
  <div class="products">
    {% for product in products %}
      <div class="product p-{{ loop.index }} {% if loop.index === 1 %}-active{% endif %}">
        <img src="/images/p-{{ loop.index }}.png">
        <p>{{ loop.index }} {{ product.name }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="description">
    <div class="controls" data-module="carousel">
      <button class="control" data-increment="-1">Previous</button>
      <button class="control" data-increment="1">Next</button>
    </div>

    <h1>Shop</h1>

    <div id="product-details">
      <h2 class="product-name">{{ products[0].name }}</h2>
      <p>Normal to dry skin</p>
      <p class="product-price">{{ products[0].price }}</p>
    </div>
  </div>
</div>
{% endblock %}
