{% extends 'layouts/application.html' %}

{% block content %}
<div id="container" class="container">
  <div class="products">
    {% for product in products %}
      <div class="product {% if loop.index === 1 %}-active{% endif %}">
        <img src="/images/{{ product.image }}">
        <p class="emphasis-text padding-top-1">{{ product.size }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="description">
    <div class="controls" data-module="carousel">
      <button class="control" data-increment="-1">Prev</button>
      <button class="control -next" data-increment="1">Next</button>
    </div>

    <h1 class="emphasis-text">Shop</h1>

    <div id="product-details" class="padding-top-4">
      <h2 class="product-name">{{ products[0].name }}</h2>
      <p class="product-subtitle">Normal to dry skin</p>
      <p class="product-price">{{ products[0].price }}</p>
    </div>
    <div class="emphasis-text padding-top-4">
      <p class="gray-text">Ingredients</p>
      <p class="padding-top-1">Lavendar oil, stem, ginger, root</p>
    </div>
  </div>
</div>
{% endblock %}
