{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="products">
  <div class="product p-0 -active">
    <img src="/images/p-0.png">
    <p>product 1</p>
  </div>
  <div class="product p-1">
    <img src="/images/p-1.png">
    <p>product 2</p>
  </div>
  <div class="product p-2">
    <img src="/images/p-2.png">
    <p>product 3</p>
  </div>
</div>
<div class="description">
  <div class="controls" data-module="controls">
    <button class="control" data-increment="-1">Previous</button>
    <button class="control" data-increment="1">Next</button>
  </div>

  <h1>Shop</h1>

  <div id="product-details">
    <h2 class="product-name">Purifying Facial Cream</h2>
    <p class="product-price">$56.00</p>
  </div>
</div>
{% endblock %}
