@keyframes enterText {
  0% {
    opacity: 0;
    transform: translateY($position1-text)
  }
  100% {
    transform: translateY(0)
  }
}

.description {
  align-items: center;
  display: flex;
  padding: 1.5rem;

  > div {
    margin-bottom: 3rem;
    width: 100%;
  }
}

.product-name,
.product-price {
  font-weight: 600;

  .-enter & {
    animation: enterText ($transition-dur / 2 - 0.2) both;
  }

  .-exit & {
    opacity: 0;
    transform: translateY($position2-text);
    transition: ($transition-dur / 2 + 0.2) $transition-ease;
  }
}

.product-name {
  font-size: 1.3rem;
  line-height: 1.2;
  margin-top: 1rem;
}

.product-price {
  animation-delay: 0.2s !important;
  font-size: 0.9375rem;
  letter-spacing: 0.05em;
}

.product-subtitle {
  @include emphasis-text;
  margin: 2.5rem 0;
}
