@keyframes enterText {
  0% {
    opacity: 0;
    transform: translateY($position1-text)
  }
  100% {
    transform: translateY(0)
  }
}

.description {
  padding: 6.3rem 25px;
}

.product-name,
.product-price {
  font-weight: 600;

  .-enter & {
    animation: enterText ($transition-dur / 2 + 0.1) both;
  }

  .-exit & {
    opacity: 0;
    transform: translateY($position2-text);
    transition: ($transition-dur / 2) $transition-ease;
  }
}

.product-name {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.product-price {
  // 0.7 comes from setTimeout that adds ".-enter"
  animation-delay: $transition-dur - 0.7 - ($transition-dur / 2 + 0.1) !important;
}

.product-subtitle {
  @include emphasis-text;
  margin: 2rem 0;
}
