.container {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-smoothing: antialiased;
  min-height: 100vh;
  text-align: center;
}

.products,
.description {
  flex-basis: 50%;
}

.padding-top-1 {
  padding-top: 1rem;
}

.padding-top-4 {
  padding-top: 4rem;
}
