.container {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-smoothing: antialiased;
  min-height: 100vh;
  text-align: center;
}

.products,
.description {
  flex-basis: 50%;
}
