@keyframes enterProduct {
  0% {
    transform: translate3d($position2-img, $position1-img, $perspective);
  }
}

.products {
  align-items: center;
  background-color: #C0BDBC;
  display: flex;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  position: relative;
  transition: background-color $transition-dur $transition-ease;

  .-change-bg & {
    background-color: #CAC8B1;
  }
}

.product {
  transition: 0s;
  position: absolute;
  opacity: 0;

  img {
    width: 350px;
  }

  &.-active,
  &.-exit {
    transition: $transition-dur $transition-ease;
  }

  &.-active {
    opacity: 1;
  }

  &.-exit {
    transform: translate3d(
      calc(#{$position2-img} * -1),
      calc(#{$position1-img} * -1),
      calc(#{$perspective} * -1)
    );
  }

  &.-enter {
    animation: enterProduct $transition-dur forwards;
  }
}
