$transition-dur: 2s;
$position1-img: calc(300px * var(--dir));
$position2-img: calc(-300px * var(--dir));
$position1-text: calc(20px * var(--dir));
$position2-text: calc(-20px * var(--dir));


@import "base/reset";
@import "base/typography";

@import "components/products";
@import "components/description";
