@import "base/reset";
@import "base/typography";

$transition-dur: 2s;

.products,
.description {
  height: 100vh;
  width: 50vw;
  float: left;
}

.products {
  background-color: #c0bdbc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

@keyframes enterLeft {
  0% {
    transform: translate(-300px, 300px);
  }
}

@keyframes enterRight {
  0% {
    transform: translate(300px, -300px);
  }
}

.product {
  transition: 0s;
  position: absolute;
  opacity: 0;

  img {
    width: 200px;
  }

  &.-active,
  &.-exitRight,
  &.-exitLeft {
    transition: $transition-dur;
  }

  &.-active {
    opacity: 1;
  }

  &.-exitRight {
    transform: translate(300px, -300px);
  }

  &.-exitLeft {
    transform: translate(-300px, 300px);
  }

  &.-enterLeft {
    animation: enterLeft $transition-dur forwards;
  }

  &.-enterRight {
    animation: enterRight $transition-dur forwards;
  }
}

#product-details {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.product-name,
.product-price {
  margin: 30px 0;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    transform: translateY(0)
  }
}

.product-name {
  .-exitAnim & {
    opacity: 0.2;
    transform: translateY(-20px);
    transition: ($transition-dur / 2);
  }

  .-enterAnim & {
    animation: enter ($transition-dur / 2 + 0.3) forwards;
  }
}
